<DesktopEntry>
	<Comment>An Draw Demo Program</Comment>
	<Exec>computerart</Exec>
	<Icon>computerart.bmp</Icon>
	<Name>µçÄÔÃÀÊõ</Name>
</DesktopEntry>

